@media (max-width: 586px){
  .post-wrap {
    flex-direction: column;
    margin-bottom: 20px;
  }
.content{
  padding: 5px;
  margin: 0;
}
  .menu{
    flex-direction: column;
  }
  .menu li{
    text-align: left;
  }
  .main-navigation{
    padding: 10px;
    .nav-list{
      padding: 0;
      margin: 0;
    }
  }
  .article-text{
    padding: 0px;
  }
  .sidebar{
    display: none!important;
  }
}


@media screen and(max-width: 768px){
  html{
    font-size: 12px;
  }
  .top-header__wrap{
    flex-wrap: wrap;
    .logotype-block{
      flex-basis: 100%;
    }
    .main-navigation{
      flex-basis: 100%;

      .nav-list{
        flex-wrap: wrap;
        justify-content: center;
        &__item{
          flex-basis: 100%;
        }
      }
    }
  }

  .bottom-header{
    justify-content: center;
  }


  .content-wrapper{
    padding: 0;
    flex-wrap: wrap;
    .content{

    }
    .sidebar{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      &__item{
        flex: 1 1 50%;
      }
    }
  }
}